@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
    --primary-color: #003eb0;
    --secondary-color: #7bb6b4;
    --pale-teal: #108584;
    --dark-slate-grey: #324b4b;
    --dark: #080919;
    --light: #f7f7f7;
    --body-text: #1c1c1c;
    --light-body-text: #878787;
    --white: #ffffff;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    transition: all 0.1s ease-in-out;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
    min-height: 100vh;
    scroll-behavior: smooth;
}

#root {
    scroll-behavior: smooth;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    transition: all 0.1s ease-in-out;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    font-family: "Plus Jakarta Sans", sans-serif;
}

*::-webkit-scrollbar {
    width: 9px;
    background-color: rgba(var(--light, 1));
    height: 9px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(var(--primary-color-fade, 1));
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(var(--primary-color, 1));
}

html {
    overflow-x: hidden;
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    position: relative;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
    width: 100%;
    overflow: hidden;
    font-size: 17px;
    background: var(--white);
    color: var(--body-text);
}

input,
select,
textarea {
    outline: 0;
    border: 1px solid var(--body-text);
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: 0px 0px 2px 2px rgb(var(--primary-color, 0.3)),
        0px 0px 2px 4px rgb(var(--primary-color-fade, 0.4)),
        0px 0px 2px 4px rgb(var(--primary-color-fade, 0.3));
}

a {
    text-decoration: none;
    color: unset;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

button {
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}

button:active {
    opacity: 0.95;
    scale: 0.95;
}

/************************************ //
/**** CUSTOM REUSABLE CLASSES **** //
/***********************************/
.breaker {
    word-wrap: break-word;
    word-break: break-all;
    hyphenate-limit-chars: 8 2;
    hyphens: auto;
    line-break: strict;
    overflow-wrap: break-word;
    white-space: break-spaces;
    hanging-punctuation: first;
    line-clamp: 3;
    text-overflow: ellipsis;
}

.wrapper {
    width: 98%;
    max-width: 1350px;
    margin: auto;
    height: 100%;
}

.shadow-text {
    text-shadow: 2px 2px 4px rgba(var(--black, 0.7));
}

.text-stroke {
    -webkit-text-stroke: 1px var(--body-text);
}

.ellipsisText {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.ellipsisText::after {
    content: "...";
    font-size: smaller;
    color: var(--body-text);
}

/************************ /
/**** MEDIA QUERIES **** //
//************************/
@media only screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }
}

